.login__container {
  background-image: url(../../Assets/background.jpg);
  background-size: cover;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  /* width: 100%; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  background-color: white;
  padding: 20px 25px;
  border-radius: 10px;
  width: 600px;
  font-size: 18px;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log h2 {
  color: rgb(0, 153, 255);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20%;
}

.first__btn {
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  width: 550px;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.google-logo {
  width: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

#user__email {
  width: 550px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid gray;
}

#user__email:focus {
  border: rgb(0, 153, 255) 2px solid;
}

.link {
  color: rgb(0, 153, 255);
  text-decoration: none;
}
.agree {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 15px;
}

/* Change the color of the checkbox */
.agree input[type="checkbox"] {
  margin-right: 10px; /* Optional: Add some right margin */
  /* appearance: none; Remove the default appearance */
  width: 20px; /* Set the width of the checkbox */
  height: 20px; /* Set the height of the checkbox */
  border: 2px solid #007bff; /* Set the border color */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  outline: none; /* Remove the default outline */
}

.line-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  margin: 0 20px;
}

.second__btn {
  background-color: #141414;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border: none;
  width: 550px;
  border-radius: 5px;
  padding: 10px 40px;
}

.second__btn:hover {
  transition: 0.5s ease-in-out;
  background-color: #312f2f;
}

.alt {
  margin: 10% 0;
}

/* password design */

.password__field {
  height: 600px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.password__field h2 {
  color: #007bff;
  font-size: 2rem;
}
.password__field label {
  margin-top: 10px;
}

#user__password {
  width: 550px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 5%;
  outline: none;
  border: 2px solid gray;
}

#user__password:focus {
  border: rgb(0, 153, 255) 2px solid;
}

/* 2fa styles */

.two__container {
  text-align: center;
  background-color: white;
  height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  font-size: 18px;
}

.two__container h2 {
  color: #007bff;
  font-size: 1.7rem;
}

.twofap {
  margin-bottom: 10%;
}

/* Personal details design */

.details__container {
  background-color: white;
  height: 750px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 600px;
  font-size: 18px;
}

.sub__details--container {
  margin-left: 25px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.sub__details--container h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.sub__details--container p {
  margin-bottom: 2%;
}

#user__details {
  width: 550px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 2%;
  outline: none;
  border: 2px solid gray;
}

#user__details:focus {
  border: rgb(0, 153, 255) 2px solid;
}

.verify__icon {
  width: 60px;
  height: 60px;
}

.skip {
  color: #007bff;
  text-decoration: none;
  font-size: larger;
}

/* Media Queries */

/* Media query for mobile devices */
@media (max-width: 768px) {
  .form__container {
    width: 370px;
    height: 600px;
    padding: 50px 55px;
    margin: 0 20px;
  }
  .form__container form {
    text-align: center;
    margin-top: -30%;
  }
  .two__container {
    width: 370px;
    height: 600px;
    padding: 50px;
  }

  .details__container{
    width: 370px;
    height: 650px;
    padding: 50px 65px;
  }
  
  .sub__details--container{
    position: relative;
    right: 30%;
    top: -15%;
  }

  #user__details{
    
    width: 350px;
  }

  #user__email {
    width: 350px;
    padding: 10px 15px;
  }

  #user__email::placeholder {
    font-size: 12px;
  }
  .password__field {
    align-items: center;
    text-align: center;
    margin-top: -20%;
  }

  #user__password {
    width: 350px;
  }
  .second__btn {
    width: 350px;
  }

  .first__btn {
    width: 350px;
  }
}

/* OTPInput.css */
.otp__container {
  justify-content: center;
  /* height: 600px; */
  display: flex;
  margin-bottom: 10%;
}

.main__otp--container{
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__otp--container h2{
  color: #007bff !important;
  text-align: center;
  font-size: 1.7rem;
}
.main__otp--container p{
text-align: center;
margin-bottom: 20px;
}


.otp-input {
  width: 60px;
  /* margin: 0 10%; */
  height: 60px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.otp-input:focus{
  border:1px solid #007bff;
}